
body {
    background-color: rgb(0,0,0);
    margin: 0px;
    color: white;
}

.map {
    position: relative;
    background-size: 100% 100%;
    /* Constant determined by the aspect ratio of the map images */
    aspect-ratio: 3176 / 1696;
    max-height: 100%;
    max-width: 100%;
}

.map.ntsc {
    background-image: url("images/map-ntsc.png");
}

.map.ntsc.alt{
    background-image: url("images/map-ntsc-alt.png");
}

.map.pal{
    background-image: url("images/map-pal.png");
}

.map.pal.alt {
    background-image: url("images/map-pal-alt.png");
}

.invisible {
    visibility: hidden;
}

.bottom-container {
    display: grid;
    grid-template-areas:
        "instructions controls";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.instructions {
    grid-area: instructions;
    text-align: center;
    align-content: center;
    color: grey;
}

.controls {
    grid-area: controls;
    position: relative;
}

.control-button {
    width: 32;
    height: 32;
    background-size: 100% 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    cursor: pointer;
}

.control-button.save {
    right: 60px;
}

.control-button.load {
    right: 20px;
}

.control-button.version {
    left: 20px;
}

.control-button.altDisplay {
    left: 60px;
}

.check{
    width: 16;
    height: 16;
    background-size: 100% 100%;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
}

.available{
    background-color: rgb(127,127,127);
}

.collected{
    background-color: rgb(210, 190, 30);
}

.possible{
    background-color: rgb(255, 0, 0);
}

.saved{ 
    background-color: rgb(0, 255, 0);
}

.mapspan .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: 50%;
    margin-left: -60px;
}

.mapspan .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.mapspan .tooltip:hover {
    display: none;
}

.mapspan:hover .tooltip {
    visibility: visible
}

.control-button .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: 50%;
    margin-left: -60px;
}

.control-button .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.control-button .tooltip:hover {
    display: none;
}

.control-button:hover .tooltip {
    visibility: visible
}